/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Profile container */
.profile {
  margin: auto 0;
  max-width: calc(30% - 20px);
  margin-right: 20px;
  width: 200px;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #d7d7d7;
  border-radius: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  background: #eeeeee;
  max-width: 200px;
  max-height: 400px;
}

.profile-userpic {
  text-align: center;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 80%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
}

.profile-usertitle-email {
  text-transform: lowercase;
  font-size: 14px;
  color: #5a7391;
  padding: 0 10px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  /*font-size: 11px;
  font-weight: 600;*/
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
