.login100-pic img {
  transform-style: preserve-3d;
  animation: ruotaImgLogin 10s infinite alternate linear -7.5s;
  animation-fill-mode: forwards;
  transform: perspective(300px) rotateY(8deg) rotateX(8deg);
}

@keyframes ruotaImgLogin {
  25% { transform: perspective(300px) rotateY(-8deg) rotateX(-8deg); }
  50% { transform: perspective(300px) rotateY(0deg) rotateX(0deg); }
  75% { transform: perspective(300px) rotateY(8deg) rotateX(-8deg); }
  100% { transform: perspective(300px) rotateY(-8deg) rotateX(8deg); }
}

.btn-default {
  border-color: #6c757d;
}

.login100-pic img:hover {
  animation-play-state: paused;
}

#main-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  width: 100%;
  height: 100%;
  display: none;
}

#utenteEmail {
  width: 100%;
}

.card-header {
  font-weight: bold;
  font-size: 140%;
}

.card-title {
  font-weight: bold;
  font-size: 110%;
}

.myModal .modal-dialog {
  max-width: 80%;
}

.myModal .modal-content .card {
  width: 24rem;
  min-width: 18rem;
  margin-right: 1rem;
}

.myModal .modal-content .card-selected {
  opacity: 1.0;
}

.myModal .modal-content .card-not-selected {
  opacity: 0.4;
}

.myModal .modal-content .card-not-selected:hover {
  opacity: 0.8;
}

.myModal .modal-content .card * {
  cursor: default;
}

.myModal .modal-content .card input {
  cursor: text;
}

.myModal .modal-content .card button,
.myModal .modal-content .card select,
.myModal .modal-content .card select:focus {
	background-color: lightgreen;
}

.myModal .modal-content .card .btn-group {
  min-width: 180px;
}

.myModal .modal-body .card .card-text input[type=text] {
  padding: 3px;
  max-width: 100%;
  width: 90%;
  border-radius: .25rem;
}

#card-container .card div.card-body {
  border-bottom: 1px solid rgba(0,0,0,.125);
  margin: 10px;
  border-radius: 20px;
}

#card-container .card div.card-body:last-child {
  margin-bottom: 0;
}

#card-container .card div.card-body:hover {
  opacity: 1;
}

#card-container .card div.card-body .btn {
  font-weight: bold;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 220px);
  margin: auto 0;
  height: 80%;
}

#card-container .card:first-child {
  margin-right: 20px;
  width: calc(50% - 20px);
}

#card-container .card {
  width: 50%;
  height: 100%;
}

#card-container .card-footer {
  text-align: center;
}

.card-choice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
}

.card-azioni {
  overflow-y: auto;
  overflow-x: none;
  width:100%;
  height:100%;
}

.card-azioni button {
  margin-right: 10px;
}

.card-azioni button:last-child {
  margin-right: 0;
}

.btn-group.show li,
.btn-group.show li a,
.btn-group.show li a label{
  display: block;
  width: 100%;
  height: 100%;
}

#login-error {
  border-radius: 20px;
  margin-bottom: 30px;
}

.glyphicon {
  margin-right: 10px;
}

.profile-usertitle-email .glyphicon {
  margin-right: 0;
}

/* Visione mobile */
@media (max-width: 992px) {
  .profile {
     max-width: 200px;
     margin: auto;
  }

  #main-container {
    text-align: center;
  }

  #card-container {
    margin: auto !important;
    width: 100% !important;
  }

  #card-container .card {
    width: 100% !important;
    margin-top: 20px;
  }

  #card-container .card:first-child {
    margin-right: 0 !important;
  }

  .myModal {
    padding: 0 !important;
    text-align: center;
  }

  .myModal .modal-dialog {
    max-width: calc(100% - 8px);
  }
  
  .myModal .modal-content .card-not-selected {
    opacity: 0.6;
  }
  
  .myModal .modal-content .card {
    min-width: 80%;
    max-width: 90%;
  }

  #card-container .card div.card-body:first-child {
    margin-top: 20px;
  }

  #card-container .card div.card-body {
    margin-bottom: 20px;
  }
  
}